@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700');

:root {
  --font: 'Helvetica Neue', Helvetica, Arial, 'Fira Mono', monospace;

  /* sizes */
  --border-division: 2px;
  --tasks-height: 50px;
  --mobile-size: 600px;

  /* sizes */
  --header-height: 50px;
  --footer-height: 0px;
  --sidebar-width: 25%;
  --sidebar-min-width: 320px;

  /* colors */

  --white: #fff;
  --black: #222;
  --dark-gray: #222;
  --medium-gray: #323234;
  --light-gray: #d2d2d2;
  --light-gray: #d2d2d2;
  --blue: #0080ff;
  --dow-red: #f00;
  --dow-gray: #444;
  --red: #c33126;
  --green: #2ab38d;
  --yellow: #f1b731;
  --magenta: #7a7e9d;
  --text-col: #eee;
  --text-label-col: #888;

  /* margins */

  --margin: 20px;
  --half-margin: calc(var(--margin) * 0.5);
  --double-margin: calc(var(--margin) * 2);

  /* shadows */
  --text-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  --box-shadow-2: 0 7px 14px rgba(50, 50, 93, 0), 0 3px 6px rgba(0, 0, 0, 0.08);
}

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background: var(--black);
  font-family: var(--font);
}

.wrapper {
  width: 100%;
  /* max-width: 1024px; */
  margin: auto;
  display: block;
}

.light-container {
  background: var(--white);
  box-shadow: var(--box-shadow);
}

.dark-container {
  background: var(--dark-gray);
  box-shadow: var(--box-shadow);
  color: var(--text-col);
}

.container.two-columns {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  color: var(--text-col);
  margin: var(--margin) auto var(--margin) auto;
}

.two-columns h5 {
  flex: 1;
  margin: 0;
  padding: var(--half-margin);
  font-weight: bold;
  /*text-transform: uppercase;*/
  letter-spacing: 0.1em;
  color: var(--text-col);
  border: 2px solid;
  border-color: var(--dow-gray);
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: currentcolor;
  border-right: none;
}

.page-child {
  /*height: calc(100vh - var(--header-height) - var(--footer-height));*/
  border-top: var(--border-division) solid var(--medium-gray);
  color: var(--text-col);
}

h2 {
  color: var(--text-col);
}
